@model IEnumerable<CampaniasLito.Models.TiendaProducto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TiendaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerceraReceta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arroz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hamburgesas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ensalada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PET2Litros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BisquetMiel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TiendaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerceraReceta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arroz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hamburgesas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ensalada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PET2Litros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BisquetMiel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TiendaProductoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TiendaProductoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TiendaProductoId })
        </td>
    </tr>
}

</table>
