@model CampaniasLito.Models.TiendaGeneral

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TiendaGeneral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TiendaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiendaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NuevoNivelDePrecioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NuevoNivelDePrecioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDePantallas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDePantallas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TiendaGeneralId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
