@model CampaniasLito.Models.TiendaMedidaEspecial

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TiendaMedidaEspecial</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TiendaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TiendaId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TiendaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WCMedidaEspecial60_8x85cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WCMedidaEspecial60_8x85cm)
                    @Html.ValidationMessageFor(model => model.WCMedidaEspecial60_8x85cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm)
                    @Html.ValidationMessageFor(model => model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm)
                    @Html.ValidationMessageFor(model => model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm)
                    @Html.ValidationMessageFor(model => model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm)
                    @Html.ValidationMessageFor(model => model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedidaEspecialPanelDeComplementos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MedidaEspecialPanelDeComplementos)
                    @Html.ValidationMessageFor(model => model.MedidaEspecialPanelDeComplementos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm)
                    @Html.ValidationMessageFor(model => model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
