@model IEnumerable<CampaniasLito.Models.TiendaMedidaEspecial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TiendaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WCMedidaEspecial60_8x85cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedidaEspecialPanelDeComplementos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TiendaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WCMedidaEspecial60_8x85cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedidaEspecialPanelDeComplementos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TiendaMedidaEspecialId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TiendaMedidaEspecialId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TiendaMedidaEspecialId })
        </td>
    </tr>
}

</table>
