@model CampaniasLito.Models.FamiliaTienda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FamiliaTienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Familia.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tienda.Clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tienda.Clasificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FamiliaTiendaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
