@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCoFranquicia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCoFranquicia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NuevoNivelDePrecioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NuevoNivelDePrecioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ensalada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ensalada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autoexpress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autoexpress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuBackLigth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuBackLigth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPKeMartesBigKrunch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPKeMartesBigKrunch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerceraReceta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerceraReceta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopeteAERemodelado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopeteAERemodelado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopeteAETradicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopeteAETradicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WCMedidaEspecial60_8x85cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WCMedidaEspecial60_8x85cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PanelDeInnovacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PanelDeInnovacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BisquetMiel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BisquetMiel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hamburgesas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hamburgesas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arroz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arroz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PET2Litros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PET2Litros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidaEspecialAutoexpress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidaEspecialAutoexpress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidaEspecialPanelDeComplementos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidaEspecialPanelDeComplementos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeVentanas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeVentanas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayDeBurbuja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayDeBurbuja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaDeJuegos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaDeJuegos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoMesaDeAreaDeJuegos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoMesaDeAreaDeJuegos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoMesaDeAreaComedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoMesaDeAreaComedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDePantallas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDePantallas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcomodoDeCajas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcomodoDeCajas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeCajaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeCajaId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
