@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Editar";
    Layout = null;
}

@using (Html.BeginForm("Edit", "Tiendas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel mt-3">
        <div class="panel-heading">
            <table class="headingModal">
                <tr style="background-color: #DF2530 !important">
                    <td class="col-xs-6">
                        <h2 class="responsivoUsuarioLabelFa" style="color: #fff">@ViewBag.Title</h2>
                    </td>
                    <td class=" col-xs-12"></td>
                    <td align="right" class="col-xs-1">
                        <div class="input-group">
                            <button type="button" class="botonF2 btn-danger" style="background-color: red" data-dismiss="modal">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                    </td>
                    <td align="center" class="col-xs-1">
                        <div class="input-group">
                            <button type="submit" class="botonF1Modal btn-success" style="background-color: green">
                                <i class="fas fa-check-circle"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body">
            <div class="form-horizontal row responsivoUsuarioLabel">
                <div class="col-xs-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CompañiaId)
                    @Html.HiddenFor(model => model.TiendaId)

                    <hr style="border: solid 2px black" />

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Clasificacion, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Clasificación" } })
                            @Html.ValidationMessageFor(model => model.Clasificacion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.CCoFranquicia, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "C.C. o Franquicia" } })
                            @Html.ValidationMessageFor(model => model.CCoFranquicia, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Restaurante, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Restaurante" } })
                            @Html.ValidationMessageFor(model => model.Restaurante, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("RegionId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control inputModal", @required = "true", @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("CiudadId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control inputModal", @required = "true", @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(model => model.CiudadId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Direccion" } })
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr style="border: solid 2px black" />

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.DropDownList("NuevoNivelDePrecioId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control inputModal", @required = "true", @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(model => model.NuevoNivelDePrecioId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("TipoId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control inputModal", @required = "true", @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Ensalada, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Ensalada, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Ensalada, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Autoexpress, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Autoexpress, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Autoexpress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.MenuBackLigth, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.MenuBackLigth, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.MenuBackLigth, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.MPKeMartesBigKrunch, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.MPKeMartesBigKrunch, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.MPKeMartesBigKrunch, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.TerceraReceta, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.TerceraReceta, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.TerceraReceta, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Postres, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Postres, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Postres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.CopeteAERemodelado, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.CopeteAERemodelado, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.CopeteAERemodelado, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.CopeteAETradicional, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.CopeteAETradicional, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.CopeteAETradicional, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Delivery, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Delivery, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Delivery, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.WCMedidaEspecial60_8x85cm, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.WCMedidaEspecial60_8x85cm, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.WCMedidaEspecial60_8x85cm, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.PanelDeInnovacion, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.PanelDeInnovacion, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.PanelDeInnovacion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.BisquetMiel, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.BisquetMiel, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.BisquetMiel, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Elote, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Elote, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Elote, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Hamburgesas, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Hamburgesas, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Hamburgesas, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.Arroz, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.Arroz, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.Arroz, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.PET2Litros, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.PET2Litros, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.PET2Litros, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.MenuDigital, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.MenuDigital, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.MenuDigital, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.MedidasEspecialesMenu, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.MedidasEspecialesMenu, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.MedidasEspecialesMenu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.MedidaEspecialAutoexpress, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.MedidaEspecialAutoexpress, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.MedidaEspecialAutoexpress, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.MedidaEspecialPanelDeComplementos, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.MedidaEspecialPanelDeComplementos, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 10px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.MedidaEspecialPanelDeComplementos, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.NumeroDeVentanas, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "No. Ventanas" } })
                            @Html.ValidationMessageFor(model => model.NumeroDeVentanas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.DisplayDeBurbuja, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.DisplayDeBurbuja, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.DisplayDeBurbuja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 form-inline inputModal divFormCheck">
                            @Html.CheckBoxFor(model => model.AreaDeJuegos, htmlAttributes: new { @class = "form-check" })
                            @Html.LabelFor(model => model.AreaDeJuegos, htmlAttributes: new { style = "vertical-align: middle !important; font-size: 12px !important; margin-top: 4px" })
                            @Html.ValidationMessageFor(model => model.AreaDeJuegos, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.NoMesaDeAreaDeJuegos, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "No. Mesas Área Juegos" } })
                            @Html.ValidationMessageFor(model => model.NoMesaDeAreaDeJuegos, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.NoMesaDeAreaComedor, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "No. Mesas Área Comedor" } })
                            @Html.ValidationMessageFor(model => model.NoMesaDeAreaComedor, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.CantidadDePantallas, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Pantallas" } })
                            @Html.ValidationMessageFor(model => model.CantidadDePantallas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.DropDownList("AcomodoDeCajas", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control inputModal", @required = "true", @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(model => model.AcomodoDeCajas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("TipoDeCajaId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control inputModal", @required = "true", @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(model => model.TipoDeCajaId, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <hr style="border: solid 2px black" />

                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var UrlM = '@Url.Action("GetCiudadesXRegion", "Generic")';
    </script>

}