@model IEnumerable<CampaniasLito.Models.TiendaMatEspecifico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TiendaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuBackLigth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autoexpress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopeteAERemodelado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopeteAETradicional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PanelDeInnovacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayDeBurbuja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MERCADO_DE_PRUEBA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaDeJuegos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TiendaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuBackLigth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autoexpress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CopeteAERemodelado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CopeteAETradicional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PanelDeInnovacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayDeBurbuja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MERCADO_DE_PRUEBA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaDeJuegos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TiendaMatEspecificoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TiendaMatEspecificoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TiendaMatEspecificoId })
        </td>
    </tr>
}

</table>
