@model IEnumerable<CampaniasLito.Models.CampañaArticuloTMP>

@{
    ViewBag.Title = "Articulos Campañas";
}

@using (Html.BeginForm("CreateCamp", "Campañas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-heading">
            <table class="headingModal">
                <tr style="background-color: #DF2530 !important">
                    <td class="col-xs-12">
                        <h2 class="responsivoUsuarioLabelFa" style="color: #fff">
                            @ViewBag.Tienda
                        </h2>
                    </td>
                    <td class=" col-xs-12"></td>
                    <td align="right" class="col-xs-1">
                        <div class="input-group">
                            <button type="button" class="botonF2 btn-danger" style="background-color: red" data-dismiss="modal">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                    </td>
                    <td align="right" class="col-xs-1">
                        <div class="input-group">
                            <button type="submit" class="botonF1Modal btn-success" style="background-color: green">
                                <i class="fas fa-check-circle"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table class="table table-striped table-bordered table-hover" style="width:100%" id="dataTable" cellspacing="0">
                    <tbody>
                        <tr>
                            @foreach (var item in Model)
                            {
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.ArticuloKFC.Descripcion, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Artículo" } })
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach (var item2 in Model)
                            {
                                <td>
                                    @Html.CheckBoxFor(modelItem => item2.Habilitado, htmlAttributes: new { @class = "checkTamanio" })
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => item2.Cantidad, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Cantidad" } })
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<a href="@Url.Action("CreateCamp", "Campañas", new { id = Session["CampañaId"] })">*@
