<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @if (Session["Compañia"] != null)
    {
        <title>@Session["Compañia"].ToString() - @ViewBag.Title</title>

        if (Session["Compañia"].ToString() == "KFC" || Session["Compañia"].ToString() == "kfc")
        {
            <link href="~/Content/css/Compañias/KFC.css" rel="stylesheet" />
        }
        else if (Session["Compañia"].ToString() == "STARBUCKS" || Session["Compañia"].ToString() == "starbucks")
        {
            <link href="~/Content/css/Compañias/Starbucks.css" rel="stylesheet" />
        }
        else if (Session["Compañia"].ToString() == "KRISPY KREME" || Session["Compañia"].ToString() == "krispy kreme")
        {
            <link href="~/Content/css/Compañias/KrispyKreme.css" rel="stylesheet" />
        }
    }
    else
    {
        <title>Campañas LITO - @ViewBag.Title</title>
    }

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://kit.fontawesome.com/8068fd2104.js" crossorigin="anonymous"></script>

</head>
<body>
    <div id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div id="bodyCompañia">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color: #fff">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <table>
                    <tr>
                        <th align="left" class="col-sm-7">
                            @if (Session["Logo"] != null)
                            {
                                <img src="@Url.Content(Session["Logo"].ToString())" alt="Image" style="width:95px; max-width: 95px; height: 50px; padding: 5px 25px 0 0; vertical-align:middle" align="left" />
                            }
                            else
                            {
                                <img src="~/Content/Logos/Logo_LIto_gris.png" alt="Image" style="width:180px; max-width: 180px; height: 50px; padding: 5px 25px 0 0; vertical-align:middle" align="left" />
                            }

                            @if (Session["Compañia"] != null)
                            {
                                <a class="navbar-brand" style="margin: 0 0 0 -25px; color: #fff; text-decoration: none"><i></i>@Session["Compañia"].ToString()</a>
                            }
                            else
                            {
                                @Html.ActionLink("Campañas ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: #fff; text-decoration: none" })
                            }
                        </th>
                        <th align="right" class="col-sm-12">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="col-sm-12" style="text-align:right">
                                        <a href="javascript:document.getElementById('logoutForm').submit()" style="font-size:17px; color: #fff; text-decoration: none; text-align: right">
                                            <i class="fas fa-sign-out-alt fa-2x"></i>
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {

                            }
                        </th>
                        <th align="right" class="col-sm-1">
                            <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                            </ul>
                        </th>
                    </tr>
                </table>

            </div>
        </nav>
        <div class="navbar-default sidebar" role="navigation" style="background-color: white">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")" style="font-size:15px; margin-bottom: -10px">
                            <i class="fas fa-home" style="float: left"></i>
                            <p style="margin-left: 15%">Inicio</p>
                        </a>
                    </li>

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li style="font-size:15px">
                            <a href="#"><i class="fas fa-user-cog"></i>&nbsp;Administrador<span class="fas arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Roles")">
                                        &nbsp;&nbsp;<i class="fas fa-user-lock"></i>
                                        &nbsp;&nbsp;Roles
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Compañias")">
                                        &nbsp;&nbsp;<i class="fas fa-building"></i>
                                        &nbsp;&nbsp;Compañias
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Usuarios")">
                                        &nbsp;&nbsp;<i class="fas fa-users"></i>
                                        &nbsp;&nbsp;Usuarios
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li style="font-size:15px">
                            <a href="#" style="font-size:15px">
                                <i class="fas fa-user-cog fa-fw" style="float: left"></i>
                                &nbsp;&nbsp;Administrador
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Regiones")" style="margin-bottom: -10px">
                                        <i class="fas fa-map-marked-alt" style="float: left"></i>
                                        <p style="margin-left: 25%">Regiones</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Ciudades")" style="margin-bottom: -10px">
                                        <i class="fas fa-map-marker-alt" style="float: left"></i>
                                        <p style="margin-left: 25%">Ciudades</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Tiendas")" style="margin-bottom: -10px">
                                        <i class="fas fa-store" style="float: left"></i>
                                        <p style="margin-left: 25%">Tiendas</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ArticulosKFC")" style="margin-bottom: -10px">
                                        <i class="fas fa-barcode" style="float: left"></i>
                                        <p style="margin-left: 25%">Artículos</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Campañas")" style="margin-bottom: -10px">
                                        <i class="fas fa-calendar-alt" style="float: left"></i>
                                        <p style="margin-left: 25%">Campañas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li style="font-size:17px">
                            <a href="#"><i class="fa fa-archive fa-fw"></i>&nbsp;&nbsp;Altas<span class="fas arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Campañas")">
                                        &nbsp;<i class="fas fa-calendar-alt"></i>
                                        &nbsp;&nbsp;Campañas
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Tiendas")">
                                        <i class="fas fa-store"></i>
                                        &nbsp;&nbsp;Tiendas
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ArticulosKFC")">
                                        <i class="fas fa-barcode"></i>
                                        &nbsp;&nbsp;Artículos
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Customer"))
                    {
                        <li>
                            <a href="#"><i class="fa fa-money fa-fw"></i> Movimientos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Compras</a>
                                </li>
                                <li>
                                    <a href="#">Inventarios</a>
                                </li>
                                <li>
                                    <a href="#">Ventas</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="page-wrapper">
        <div class="py-3">
            <div class="container-fluid">
                <div id="contenedor_carga">
                    <div id="carga">
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        }
    </script>

}