<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />

    <script type="text/javascript">
        {
            if (history.forward(1))
                location.replace(history.forward(1))
        }

        function nobackbutton() {
            window.location.hash = "Litoprocess";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "Litoprocess"; }
        }
    </script>


    @*@if (Session["Compañia"] != null)
        {
            <title>@Session["Compañia"].ToString() - @ViewBag.Title</title>

            if (Session["Compañia"].ToString() == "KFC" || Session["Compañia"].ToString() == "kfc")
            {*@
    @*<link href="~/Content/css/Compañias/KFC.css" rel="stylesheet" />*@
    <link rel="icon" href="~/Content/Logos/KFC-logo.png" sizes="32x32" />

    @*}
            else if (Session["Compañia"].ToString() == "STARBUCKS" || Session["Compañia"].ToString() == "starbucks")
            {
                <link href="~/Content/css/Compañias/Starbucks.css" rel="stylesheet" />
                <link rel="icon" href="~/Content/Logos/starbucks_logo.png" sizes="32x32" />
            }
            else if (Session["Compañia"].ToString() == "KRISPY KREME" || Session["Compañia"].ToString() == "krispy kreme")
            {
                <link href="~/Content/css/Compañias/KrispyKreme.css" rel="stylesheet" />
                <link rel="icon" href="~/Content/Logos/Logo-Kryspy.png" sizes="32x32" />
            }
        }
        else
        {
            <title>Campañas LITO - @ViewBag.Title</title>
        }*@

    @*@if (Session["Compañia"] != null)
        {
            <title>@Session["Compañia"].ToString() - @ViewBag.Title</title>
        }
        else
        {
            <title>Servido - @ViewBag.Title</title>
        }*@

    @*<link href="~/Scripts/jtable/themes/metro/red/jtable.css" rel="stylesheet" />
        <script src="~/Scripts/jtable/jquery.jtable.js" type="text/javascript"></script>*@

    <link href="~/Content/vendor/materialize/css/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body id="body" style="font-family: 'Hero'">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a href="/" class="brand-logo tooltipped" data-position="bottom" data-tooltip="KFC"><img src="~/Content/Logos/KFC-logo.png" width="90" height="45" /></a>
                }
                else
                {
                    <h2 class="center">
                        <i class="fas fa-user-circle iconoMenu"></i>
                        Acceso
                    </h2>
                }
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/" class="btn tooltipped" data-position="bottom" data-tooltip="Inicio">
                                <i class="fas fa-home iconoMenu"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Regiones", new { })" class="btn tooltipped" data-position="bottom" data-tooltip="Roles">
                                <i class="fas fa-user-lock iconoMenu"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Compañias", new { })" class="btn tooltipped" data-position="bottom" data-tooltip="Compañias">
                                <i class="fas fa-building iconoMenu"></i>
                            </a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Index", "Usuarios", new { })" class="btn tooltipped" data-position="bottom" data-tooltip="Usuarios">
                                <i class="fas fa-users iconoMenu"></i>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Materiales", new { })" class="btn tooltipped" data-position="bottom" data-tooltip="Materiales">
                                <i class="fas fa-barcode iconoMenu"></i>
                            </a>
                        </li>

                        <li>
                            <a class="user-view" asp-area="" asp-controller="Account" asp-action="ChangeUser">
                                <img class="circle tooltipped" data-position="bottom" data-tooltip="@this.User.Identity.Name" src="~/Content/Fotos/usuarios.jpg" width="70" style="padding: 13px; margin-top: -4px">
                            </a>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn tooltipped" data-position="bottom" data-tooltip="Salir">
                                    <i class="fas fa-power-off iconoMenu" style="color: green"></i>
                                </a>
                                @*<a asp-area="" asp-controller="Account" asp-action="Logout" class="btn tooltipped" data-position="bottom" data-tooltip="Salir">
                                    </a>*@
                            }
                        </li>
                    }
                    else
                    {
                        @*<li>
                                <a asp-area="" asp-controller="Account" asp-action="Login" class="btn tooltipped" data-position="bottom" data-tooltip="Login">
                                    <i class="fas fa-power-off iconoMenu" style="color: green"></i>
                                </a>
                            </li>*@
                    }
                </ul>

                @if (this.User.Identity.IsAuthenticated)
                {
                    <div class="sidenav-fixed">
                        <ul id="slide-out" class="sidenav hide-on-large-only">
                            <li>
                                <div class="user-view">
                                    <div class="background">
                                        <img src="~/Content/Fotos/historia_10.jpg" width="600" height="200">
                                    </div>
                                    <a href="#user"><img class="circle" src="~/Content/Fotos/usuarios.jpg"></a>

                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <a asp-area="" asp-controller="Account" asp-action="ChangeUser">
                                            <span class="white-text center email">@this.User.Identity.Name</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#email"><span class="white-text center email"></span></a>
                                    }


                                </div>
                            </li>

                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="/" class="btn">
                                        <i class="fas fa-home iconoMenu"></i>Inicio
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Roles" asp-action="Index" class="btn">
                                        <i class="fas fa-user-lock iconoMenu"></i>Roles
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Compañias" asp-action="Index" class="btn">
                                        <i class="fas fa-building iconoMenu"></i>Compañias
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Compañias" asp-action="Index" class="btn">
                                        <i class="fas fa-users iconoMenu"></i>Usuarios
                                    </a>
                                </li>

                                <li>
                                    <a asp-area="" asp-controller="Materiales" asp-action="Index" class="btn">
                                        <i class="fas fa-barcode iconoMenu"></i>Materiales
                                    </a>
                                </li>

                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn">
                                        <i class="fas fa-power-off iconoMenu red-text"></i>Salir
                                    </a>
                                </li>
                            }
                            else
                            {
                                @*<li>
                                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn">
                                            <i class="fas fa-power-off iconoMenu"></i>Login
                                        </a>
                                    </li>*@
                            }

                        </ul>

                        <a href="#" data-target="slide-out" class="sidenav-trigger tooltipped" data-position="bottom" data-tooltip="Menú"><i class="material-icons">menu</i></a>

                    </div>
                }


            </div>
        </nav>
    </div>

    <script>

        function viewPage() {
            document.getElementById('contenedor_carga').style.visibility = 'visible';
            document.getElementById('contenedor_carga').style.opacity = '1';

            swal({
                title: "<span style='color:#fff; margin-top: 5%'></span>",
                html: true,
                //type: "success",
                showConfirmButton: false,
                animation: true,
                customClass: 'animated swing',
                background: '#B3C9D8',
                grow: 'fullscreen',
                //timer: 2000,
            });
        };

    </script>

    <main>
        <div style="background-size: cover">
            <div>
                <div style="height: 10%">
                    <div id="contenedor_carga">
                        <div id="carga">
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>


    @RenderSection("scripts", required: false)

    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <script src="~/Content/vendor/materialize/js/materialize.js"></script>
    <script src="~/Content/js/site.js"></script>

    <script>

        function mostrarMenu(obj) {
            if (document.getElementById("btn-menu").checked)
                document.getElementById('menuNav').style.marginTop = '40px';

            else
                document.getElementById('menuNav').style.marginTop = '-180%';
        }

        $(document).ready(function () {
            $('.sidenav').sidenav({

            });
        });

        $(document).ready(function () {
            $('.tooltipped').tooltip({
                enterDelay: 100,
                exitDelay: 100,
                inDuration: 1500,
                outDuration: 1500,
                transitionMovement: 10,
            });
        });

        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        }

    </script>

    @if (TempData["mensajeLito"] != null)
    {
        <script type="text/javascript">

            swal({
                title: "<span style='color:#fff'>@ViewBag.Title</span>",
                text: '<span style="color:#fff">@TempData["mensajeLito"].ToString()</span>',
                html: true,
                type: "success",
                showConfirmButton: false,
                animation: true,
                customClass: 'animated swing',
                background: '#B3C9D8',
                grow: 'fullscreen',
                timer: 2000,
            });
        </script>
    }

</body>
</html>
