<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />

    <script type="text/javascript">
        {
            if (history.forward(1))
                location.replace(history.forward(1))
        }

        function nobackbutton() {
            window.location.hash = "Litoprocess";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "Litoprocess"; }
        }

    </script>

    <link href="~/Content/css/Compañias/KFC.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/Logos/KFC-logo.png" sizes="32x32" />

    @Styles.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/js")
    @Styles.Render("~/bundles/css")


    <link href="~/Content/vendor/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <link href="~/Content/css/menuresponsive.css" rel="stylesheet" />
    <link href="~/Content/icon/style.css" rel="stylesheet" />
    <link href="~/Content/css/Estilos.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/rotating-card.css" rel="stylesheet" />
    <link href="~/Content/css/flexboxgrid.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/tooltip.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/css/Vistas.css" rel="stylesheet" />
    <link href="~/Content/css/Generales.css" rel="stylesheet" />

    <link href="~/Content/css/Campañas.css" rel="stylesheet" />
    <link href="~/Content/css/Restaurantes.css" rel="stylesheet" />

    <link href="~/Content/vendor/font-awesome/css/all.css" rel="stylesheet" />


    <style type="text/css">
        .swal-container {
            z-index: -1;
        }
    </style>

</head>
<body style="font-family: 'Hero'">
    <input type="checkbox" id="btn-menu" onchange="mostrarMenu()" />
    <header>
        <table width="100%">
            <thead>
                <tr>
                    <th class="col-xs-1" style="border-radius: 0">
                        <div class="col-xs-12">
                            <div id="logo">
                                <a href="@Url.Action("Index", "Home")" class="inicio" data-toggle="myToolTip" data-placement="bottom" title="KFC" onclick="viewPage()"></a>
                            </div>
                            <div id="logo2" style="height: 0">
                                <label for="btn-menu">
                                    <span class="spanhtml" data-toggle="myToolTip" data-placement="bottom" title="Menú"
                                          style="text-decoration: none; list-style: none; color: white">
                                        <img class="txt" src="~/Content/Fotos/icono-menu.png" style="margin-top: -5px; border-radius: 5px; width: 40px; height: 45px" />
                                    </span>
                                </label>
                            </div>
                        </div>
                    </th>
                    <th class="col-xs-10" style="border-radius: 0">

                        <nav class="col-xs-12 menuNav" id="menuNav">
                            <ul class="col-xs-12 ulNav">
                                <li class="col-xs-7 center-align">
                                    <h2 class="titulo"><i class="fas fa-barcode"></i>&nbsp;&nbsp;Materiales @ViewBag.Titulo</h2>
                                </li>
                                <li class="col-xs-1 ">
                                    <div>
                                        <a href="@Url.Action("Index", "Home")" class="fa fa-home iconomenu" data-toggle="myToolTip" data-placement="bottom" title="Inicio" onclick="viewPage()"></a>
                                    </div>
                                </li>
                                <li class="col-xs-1 ">
                                    <div>
                                        <a href="@Url.Action("Equity", "Restaurantes")" class="fa fa-store iconomenu" data-toggle="myToolTip" data-placement="bottom" title="Restaurantes" onclick="viewPage()"></a>
                                    </div>
                                </li>
                                <li class="col-xs-1">
                                    <div>
                                        <a id="materialE" class="iconomenu @Session["materialE"].ToString()" style="padding: 0; border-radius:10px; text-align: center; font-size: 12px" href="@Url.Action("Equity", "Materiales")" onclick="viewPage()">
                                            EQ
                                        </a>
                                    </div>
                                </li>
                                <li class="col-xs-1">
                                    <a id="materialF" class="iconomenu @Session["materialF"].ToString()" style="padding: 0; border-radius:10px; text-align: center; font-size: 12px" href="@Url.Action("Franquicias", "Materiales")" onclick="viewPage()">
                                        FQ
                                    </a>
                                </li>
                                <li class="col-xs-1 ">
                                    <div>
                                        <a href="@Url.Action("Index", "Campañas")" class="fa fa-calendar-alt iconomenu" data-toggle="myToolTip" data-placement="bottom" title="Campañas" onclick="viewPage()"></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </th>
                    <th class="col-xs-1" align="right" style="border-radius: 0">
                        <div class="col-xs-12 margentopsesion2" style="margin-left: 10px">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <ul>
                                        <li style="list-style: none; text-align: right">
                                            <a href="javascript:document.getElementById('logoutForm').submit()"
                                               class="lnr lnr-power-switch actionlinkclose txt"
                                               data-toggle="myToolTip" data-placement="bottom" title="Salir" onclick="viewPage()"></a>
                                        </li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul>
                                    <li style="list-style: none; text-align: right; margin-left: 40px">
                                        @Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "actionlinkstart lnr lnr-power-switch txt", style = "list-style:none;" })
                                    </li>
                                </ul>
                            }
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </header>

    <div class="modal fade" data-keyboard="false" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.8); margin-top: -35px;">
        <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
                <div class="te">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-keyboard="false" id="mediumModalTienda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.8); margin-top: -35px;">
        <div class="modal-dialog" id="largeTamanio">
            <div class="modal-content">
                <div class="te">

                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="page-wrapper" style="position: absolute; background-size: cover">
            <div class="py-3">
                <div class="container-fluid" style="height: 10%">
                    <div id="contenedor_carga">
                        <div id="carga">
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>


    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    <script src="~/Content/vendor/DataTables/datatables.min.js"></script>
    <script src="~/Content/vendor/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Scripts/fileupload.js"></script>
    <script src="~/Content/js/site.js"></script>
    <script src="~/Content/vendor/font-awesome/js/fontawesome.js"></script>
    <script src="~/Scripts/sweetalert.min.js" type="text/javascript"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $("body").on("click", "a.dialog-window-medium", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#mediumModal').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#mediumModal .te').html(data);
                        $('#mediumModal').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });

                }
            });
        });

        $(document).ready(function () {
            $("body").on("click", "a.dialog-window-medium-tiendas", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#mediumModalTienda').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#mediumModalTienda .te').html(data);
                        $('#mediumModalTienda').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });

                }
            });
        });

    </script>

    <script>
        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        }

    </script>

    <script>

        $(document).ready(function () {

            $('[data-toggle="myToolTip"]').tooltip();

            $(".tip-top").tooltip({
                placement: 'top'
            });
            $(".tip-right").tooltip({
                placement: 'right'
            });
            $(".tip-bottom").tooltip({
                placement: 'bottom'
            });
            $(".tip-left").tooltip({
                placement: 'left',
                html: true
            });

            $(".tip-auto").tooltip({
                placement: 'auto',
                html: true
            });

        });

    </script>

    <script>

        function mostrarMenu(obj) {
            if (document.getElementById("btn-menu").checked)
                document.getElementById('menuNav').style.marginTop = '40px';

            else
                document.getElementById('menuNav').style.marginTop = '-180%';
        }



        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';

        }

    </script>

    @if (TempData["mensajeLito"] != null)
    {
        <script type="text/javascript">

            swal({
                title: "<span style='color:#fff'>@ViewBag.Title</span>",
                text: '<span style="color:#fff">@TempData["mensajeLito"].ToString()</span>',
                html: true,
                type: "success",
                showConfirmButton: false,
                animation: true,
                customClass: 'animated swing',
                background: '#B3C9D8',
                grow: 'fullscreen',
                timer: 2000,
            });
        </script>
    }

</body>
</html>
