@model IList<CampaniasLito.Controllers.MaterialesTiendasCampaña>

@{
    ViewBag.Title = "Asignar Tiendas";
}

<style>
    .panel-headingMy {
        background-color: #DF2530 !important;
        border-radius: 10px !important;
        padding: 0 !important;
    }


    #panelHMy {
        background-color: #ffffff;
        border-radius: 10px;
        color: #000 !important;
        padding: 0;
    }

    .modal-contentMy {
        border: none !important;
        border-radius: 10px !important;
    }

    .headingModalMy > tr {
        background-color: #DF2530 !important;
        color: #fff !important;
        width: 100%;
        border-radius: 10px;
    }

    h4, tr, table, td {
        border-radius: 10px;
    }

    #unId40 {
        overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
        height: 73vh; /*Alto del 100% del Viewport*/
        max-height: 80vh; /*Alto máximo*/
    }

        #unId40::-webkit-scrollbar {
            width: 12px; /* Tamaño del scroll en vertical */
            /*margin-right: 10px;*/
            /*height: 10px;  /*Tamaño del scroll en horizontal */
            /*display: none; /* Ocultar scroll */
        }

        #unId40::-webkit-scrollbar-thumb {
            background: #999999;
            border-radius: 10px;
        }

            #unId40::-webkit-scrollbar-thumb:hover {
                background: #b3b3b3;
                box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            }

            #unId40::-webkit-scrollbar-thumb:active {
                background-color: #ddd;
            }

        #unId40::-webkit-scrollbar-track {
            background: #000;
            border-radius: 10px;
        }

            #unId40::-webkit-scrollbar-track:hover,
            #unId40::-webkit-scrollbar-track:active {
                background: #000;
            }

    #contenedor_carga, #contenedor_carga2 {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        width: 100vw;
        position: fixed;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        z-index: 10000;
        top: 0px;
        left: 0;
    }

    #carga, #carga2 {
        border: 10px solid #ccc;
        border-top-color: #DF2530;
        border-top-style: groove;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        position: absolute;
        -webkit-animation: girar 1s linear infinite;
        -o-animation: girar 1s linear infinite;
        animation: girar 1s linear infinite;
    }

    #carga {
        top: 43.1%;
        left: 47%;
    }

    #carga2 {
        top: 43.1%;
        left: 47%;
    }

    @@keyframes girar {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .botonF1 {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background: #01207B;
        right: 0;
        bottom: 0;
        position: fixed;
        margin-right: 36px;
        margin-bottom: 1%;
        border: none;
        outline: none;
        color: #FFF;
        font-size: 46px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s;
        z-index: 1;
        text-align: center;
        cursor: pointer !important;
    }

    .botonF1View {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #F44336;
        right: 40%;
        bottom: 0;
        position: fixed;
        margin-bottom: 1%;
        border: none;
        outline: none;
        color: #FFF;
        font-size: 39px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s;
        z-index: 1;
        text-align: center;
        cursor: pointer !important;
    }

    .botonF1Modal {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #F44336;
        right: 47%;
        bottom: 0;
        position: fixed;
        /* margin-right: 36px; */
        margin-bottom: 1%;
        border: none;
        outline: none;
        display: inline-flex;
        color: #FFF;
        font-size: 39px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s;
        z-index: 1;
        text-align: center;
        cursor: pointer !important;
    }

    span {
        transition: .5s;
    }

    .botonF1:hover span {
        transform: rotate(360deg);
    }

    .botonF1:active {
        transform: scale(1.1);
    }

    .btnFlot {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        color: #FFF;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        font-size: 28px !important;
        outline: none;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 26px;
        transform: scale(0);
        cursor: pointer !important;
    }

    .botonF2 {
        width: 43px;
        height: 43px;
        border-radius: 100%;
        background: #2196F3;
        right: -5vh;
        top: -2.7vw;
        bottom: 0;
        position: absolute;
        /*margin-right: -15%;
            margin-bottom: 2%;*/
        border: none;
        outline: none;
        color: #FFF;
        font-size: 31px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s;
        z-index: 1;
        text-align: center;
        cursor: pointer !important;
    }

        .botonF2:hover span {
            transform: rotate(360deg);
        }

        .botonF2:active {
            transform: scale(1.1);
        }

    .botonF3 {
        margin: 10px;
        width: 43px;
        height: 43px;
        border-radius: 100%;
        background: #2196F3;
        /*right: -40px;
    top: -40px;*/
        bottom: 0;
        /*position: absolute;*/
        /*margin-right: -15%;
            margin-bottom: 2%;*/
        border: none;
        outline: none;
        color: #FFF;
        font-size: 31px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s;
        z-index: 1;
        text-align: center;
        cursor: pointer !important;
    }

        .botonF3:hover span {
            transform: rotate(360deg);
        }

        .botonF3:active {
            transform: scale(1.1);
        }

    .botonF4 {
        background: #009688;
        margin-bottom: 175px;
        transition: 0.9s;
    }

    .botonF5 {
        background: #FF5722;
        margin-bottom: 220px;
        transition: 0.99s;
    }

    .animacionVer {
        transform: scale(1);
    }

    .modal-content {
        background-clip: border-box !important;
        border-radius: 10px !important;
    }
</style>
@using (Html.BeginForm("AsignarTiendasCampañas", "Materiales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-headingMy">
        <table class="headingModalMy">
            <tr class="col-xs-12" style="background-color: #DF2530 !important">
                <td class="col-xs-12" style="width: 100%">
                    <h5 style="color: #fff; text-align: center">@Model.FirstOrDefault().ArticuloKFC</h5>
                </td>
                @*<td class=" col-xs-12"></td>*@
                <td align="right" class="col-xs-1">
                    <div class="input-group">
                        <button type="button" class="botonF2 btn-danger" style="background-color: red" data-dismiss="modal" onclick="viewPageSwalOut()">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                </td>
                <td align="center" class="col-xs-1">
                    <div class="input-group">
                        <button type="submit" class="botonF1Modal btn-success" style="background-color: green" onclick="viewPage2()">
                            <i class="fas fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            @*<tr>
                    <td colspan="4" align="center" style="text-align: center; color: #fff">
                        RESTAURANTES
                    </td>
                </tr>*@

        </table>
    </div>

    <div class="panel-body">
        <div id="unId40" class="table-responsive" style="padding: 10px;">

            <link href="~/Content/vendor/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
            <link href="~/Content/vendor/DataTables/datatables.min.css" rel="stylesheet" />
            <link href="~/Content/vendor/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
            <link href="~/Content/vendor/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


            <form id="form">
                <table id="miTablaAsignar" class="table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>
                                RESTAURANTE
                            </th>
                            <th>
                                CANTIDAD
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @Html.HiddenFor(m => item.ArticuloKFC)
                            @Html.HiddenFor(m => item.ArticuloKFCId)
                            @Html.HiddenFor(m => item.TiendaId)
                            <tr class="col-sm-12">
                                <td width="80%" style="padding: 0 10px;">
                                    <input type="hidden" name="TiendaId" value="@item.TiendaId" />
                                    <input type="hidden" name="ArticuloKFCId" value="@item.ArticuloKFCId" />
                                    @item.CC / @item.Restaurante
                                    @*@Html.DisplayFor(modelItem => item.Restaurante, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase; width: 100%" } })*@
                                </td>
                                <td width="20%" align="center">
                                    <input class="form-control" style="width: 100% !important; text-align: center; border: none" id="@item.TiendaId" name="CantidadInput" type="text" value="@item.Cantidad" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>

            <script src="~/Scripts/jquery-3.5.0.min.js"></script>
            <script src="~/Content/vendor/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
            <script src="~/Content/vendor/DataTables/datatables.min.js"></script>
            <script src="~/Content/vendor/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
            <script src="~/Content/js/site.js"></script>


            <script>

                $(document).ready(function () {
                    $('#miTablaAsignar').DataTable({
                        "order": [[0, "asc"]],
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Mostrar/Ocultar Columnas"
                            }
                        },
                        dom: 'frt',
                        autoWidth: true,
                        "columnDefs": [
                            { "searchable": false, "targets": 1 },
                            { "orderable": false, "targets": 1 }
                        ],
                        fixedHeader: true,
                        //select: true,
                        scrollY: '53vh',
                        //scrollX: true,
                        //deferRender: true,
                        //scroller: true,
                        //autoFill: true,
                        keys: true,
                        'bSearch': true,
                        'bLengthChange': true,
                        'bInfo': true,
                        "lengthMenu": [[-1, 15, 25, 50, 100], ["TODOS", 15, 25, 50, 100]],
                    });
                });

            </script>

        </div>
        <br />
        <br />
        <br />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
