@model IList<CampaniasLito.Models.TiendaArticulo>

@{
    ViewBag.Title = "Asignar Tiendas";
}

<style>
    div.dataTables_wrapper {
        margin: -8px 10px;
    }
</style>
@using (Html.BeginForm("AsignarTiendas", "Materiales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-heading">
        <table class="headingModal">
            <tr style="background-color: #DF2530 !important">
                <td class="col-xs-12">
                    <h4 class="responsivoUsuarioLabelFa" style="color: #fff; text-align: center">@ViewBag.Articulo</h4>
                </td>
                <td class=" col-xs-12"></td>
                <td align="right" class="col-xs-1">
                    <div class="input-group">
                        <button type="button" class="botonF2 btn-danger" style="background-color: red" data-dismiss="modal" onclick="viewPageSwal()">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                </td>
                <td align="center" class="col-xs-1">
                    <div class="input-group">
                        <button type="submit" class="botonF1Modal btn-success" style="background-color: green" onclick="viewPage2()">
                            <i class="fas fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                @if (Model.FirstOrDefault().Tienda.EquityFranquicia == "EQUITY")
                {
                    <td colspan="4" align="center" style="text-align: center">
                        RESTAURANTES EQUITY
                    </td>
                }
                else if (Model.FirstOrDefault().Tienda.EquityFranquicia == "FRANQUICIAS")
                {
                    <td colspan="4" align="center" style="text-align: center">
                        RESTAURANTES FRANQUICIAS
                    </td>
                }
                else if (Model.FirstOrDefault().Tienda.EquityFranquicia == "STOCK")
                {
                    <td colspan="4" align="center" style="text-align: center">
                        STOCK
                    </td>
                }
            </tr>

        </table>
    </div>

    <div class="panel-body">
        <div>

            <form id="form">
                <table id="miTablaAsignarTiendas" class="compact">
                    <thead>
                        <tr>
                            <th style="width: 80% !important">
                                RESTAURANTE
                            </th>
                            <th style="width: 20% !important">
                                SELLECIONADO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @Html.HiddenFor(m => item.ArticuloKFC)
                            @Html.HiddenFor(m => item.ArticuloKFCId)
                            @Html.HiddenFor(m => item.Tienda)
                            @Html.HiddenFor(m => item.TiendaId)
                            <tr>
                                <td width="80%" style="padding: 0 10px;">
                                    <input type="hidden" name="TiendaArticuloId" value="@item.TiendaArticuloId" />
                                    @item.Tienda.CCoFranquicia / @item.Tienda.Restaurante
                                </td>
                                <td width="20%" align="center">
                                    <input class="form-control" id="Seleccionado" name="Seleccionado" type="checkbox" value="@item.TiendaArticuloId" checked="@item.Seleccionado" style="cursor: pointer" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <script>

                $(document).ready(function () {
                    $('#miTablaAsignarTiendas').DataTable({
                        "order": [[0, "asc"]],
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Mostrar/Ocultar Columnas"
                            }
                        },
                        dom: 'frt',
                        autoWidth: false,
                        "columnDefs": [
                            { "searchable": false, "targets": 1 },
                        ],
                        fixedHeader: true,
                        //select: true,
                        scrollY: '48vh',
                        //scrollX: true,
                        deferRender: true,
                        //scroller: true,
                        //autoFill: true,
                        keys: true,
                        'bSearch': true,
                        'bLengthChange': true,
                        //'bInfo': true,
                        "lengthMenu": [[-1, 15, 25, 50, 100], ["TODOS", 15, 25, 50, 100]],
                    });
                });

            </script>

        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
