@model CampaniasLito.Models.Categoria

@{
    ViewBag.Title = "Detalles Categoria";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <table>
            <tr>
                <td class="col-md-12">
                    <h2><i class="fa fa-table"></i> @ViewBag.Title</h2>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Compañias.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Compañias.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaId }, new { @class = "btn btn-outline btn-primary" })
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-outline btn-info" }))
        </p>
    </div>
</div>