@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Agregar";
    Layout = null;
}

<hr style="border: solid 2px #AAE6FF" />
<div class="row" style="margin-top: -20px">
    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus" style="margin-top: 10px !important;">
            <label for="TipoDeCajaId" style="font-size: 12px; color: #DF2530; padding: 0 5px;">@Html.DisplayNameFor(m => m.TipoDeCajaId)</label>
            <div class="customselect">
                @Html.DropDownList("TipoDeCajaId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[37].Watermark, htmlAttributes: new { @class = "form-control  clgfocus inputModal", @type = "text", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
            </div>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus" style="margin-top: 10px !important;">
            <label for="AcomodoDeCajas" style="font-size: 12px; color: #DF2530; padding: 0 5px;">@Html.DisplayNameFor(m => m.AcomodoDeCajas)</label>
            <div class="customselect">
                @Html.DropDownList("AcomodoDeCajas", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[36].Watermark, htmlAttributes: new { @class = "form-control  clgfocus inputModal", @type = "text", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
            </div>
            <div class="border"></div>
        </div>
    </div>

    <div class="mat-input col-sm-3 focus">
        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
            @Html.TextBoxFor(model => model.NoMesaDeAreaComedor, new { htmlAttributes = new { }, @type = "text", @style = "text-transform:uppercase" })
            <label class="active">@Html.DisplayNameFor(m => m.NoMesaDeAreaComedor)</label>
            <div class="border"></div>
        </div>
    </div>

    <div class="mat-input col-sm-3 focus">
        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
            @Html.TextBoxFor(model => model.NoMesaDeAreaDeJuegos, new { htmlAttributes = new { }, @type = "text", @style = "text-transform:uppercase" })
            <label class="active">@Html.DisplayNameFor(m => m.NoMesaDeAreaDeJuegos)</label>
            <div class="border"></div>
        </div>
    </div>

</div>

<div class="row col-sm-3">

    <div class="mat-input col-sm-12 focus">
        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
            @Html.TextBoxFor(model => model.NumeroDeVentanas, new { htmlAttributes = new { }, @type = "text", @style = "text-transform:uppercase" })
            <label class="active">@Html.DisplayNameFor(m => m.NumeroDeVentanas)</label>
            <div class="border"></div>
        </div>
    </div>

</div>
