@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Agregar";
    Layout = null;
}

@using (Html.BeginForm("Create", "Restaurantes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel mt-3">
        <div class="panel-heading">
            <table class="headingModal">
                <tr style="background-color: #DF2530 !important">
                    <td class="col-xs-6">
                        <h2 class="responsivoUsuarioLabelFa" style="color: #fff">@ViewBag.Title</h2>
                    </td>
                    <td class=" col-xs-12"></td>
                    <td align="right" class="col-xs-1">
                        <div class="input-group">
                            <button type="button" class="botonF2 btn-danger" style="background-color: red" data-dismiss="modal" onclick="viewPageSwal()">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                    </td>
                    <td align="center" class="col-xs-1">
                        <div class="input-group">
                            <button type="submit" class="botonF1Modal btn-success" style="background-color: green" onclick="viewPage2()">
                                <i class="fas fa-check-circle"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <script src="~/Content/js/site.js"></script>

        <div class="panel-body">
            <div class="form-horizontal row responsivoUsuarioLabel">
                <div class="col-xs-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row marginRowCreate" style="margin-top: -15px;">
                        <div class="mat-input col-sm-2 focus">
                            <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                                @Html.TextBoxFor(model => model.Clasificacion, new { htmlAttributes = new { }, @type = "input", @required = "true", @style = "text-transform:uppercase", @oninvalid = "setCustomValidity('¡Este dato es obligatorio!')", @oninput = "setCustomValidity('')" })
                                <label class="active">Clasific</label>
                                <div class="border"></div>
                            </div>
                        </div>
                        <div class="mat-input col-sm-2 focus">
                            <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                                @Html.TextBoxFor(model => model.CCoFranquicia, new { htmlAttributes = new { }, @type = "input", @required = "true", @style = "text-transform:uppercase", @oninvalid = "setCustomValidity('¡Este dato es obligatorio!')", @oninput = "setCustomValidity('')" })
                                <label class="active">CC</label>
                                <div class="border"></div>
                            </div>
                        </div>
                        <div class="mat-input col-sm-8 focus">
                            <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                                @Html.TextBoxFor(model => model.Restaurante, new { htmlAttributes = new { }, @type = "input", @required = "true", @style = "text-transform:uppercase", @oninvalid = "setCustomValidity('¡Este dato es obligatorio!')", @oninput = "setCustomValidity('')" })
                                <label class="active">Restaurante</label>
                                <div class="border"></div>
                            </div>
                        </div>

                    </div>

                    <div>

                        <div class="col-sm-6 focus">
                            @*<div class="col-sm-12 focus" style="margin-top: 0 !important;">
                    <label for="RegionId" style="font-size: 12px; color: #DF2530; padding: 0 5px;">@Html.DisplayNameFor(m => m.RegionId)</label>
                    <div class="input-group">
                        @Html.DropDownList("RegionId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[4].Watermark, htmlAttributes: new { @class = "clgfocus", @type = "select", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>*@
                            <div class="col-sm-12 focus" style="margin-top: 0 !important;">
                                <label for="RegionId" style="font-size: 12px; color: #DF2530; padding: 0 5px;">@Html.DisplayNameFor(m => m.RegionId)</label>
                                <div class="customselect">
                                    @Html.DropDownList("RegionId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[4].Watermark, htmlAttributes: new { @class = "form-control  clgfocus inputModal", @type = "text", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')", @onchange = "filtrar()" })
                                </div>
                                <div class="border"></div>
                            </div>
                        </div>

                        <div class="col-sm-6 focus">
                            @*<div class="col-sm-12 focus" style="margin-top: 0 !important;">
                    <label for="CiudadId" style="font-size: 12px; color: #DF2530; padding: 0 5px;">@Html.DisplayNameFor(m => m.CiudadId)</label>
                    <div class="input-group col-sm-12">
                        @Html.DropDownList("CiudadId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[5].Watermark, htmlAttributes: new { @class = "clgfocus", @type = "select", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>*@

                            <div class="col-sm-12 focus" style="margin-top: 0 !important;">
                                <label for="CiudadId" style="font-size: 12px; color: #DF2530; padding: 0 5px;">@Html.DisplayNameFor(m => m.CiudadId)</label>
                                <div class="customselect">
                                    @Html.DropDownList("CiudadId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[5].Watermark, htmlAttributes: new { @class = "form-control  clgfocus inputModal", @type = "text", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
                                </div>
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row marginRowCreate">
                        <div class="mat-input col-sm-12 focus">
                            <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                                @Html.TextBoxFor(model => model.Direccion, new { htmlAttributes = new { }, @type = "text", @style = "text-transform:uppercase" })
                                <label class="active">Dirección</label>
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row marginRowCreate">
                        <div class="mat-input col-sm-12 focus">
                            <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                                @Html.TextBoxFor(model => model.Observaciones, new { htmlAttributes = new { }, @type = "text", @style = "text-transform:uppercase" })
                                <label class="active">Observaciones</label>
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" align="left" style="font-size: 10px;">
                        <button id="btnCG" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCG();">
                            Caracterísitcas generales
                        </button>
                        <button id="btnCP" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCP();">
                            Configuración por producto
                        </button>
                        <button id="btnCME" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCME();">
                            Configuración por materiales específicos
                        </button>
                        <button id="btnCMEs" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCMEs();">
                            Configuración por medidas especiales
                        </button>
                        <button id="btnCRE" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCER();">
                            Configuración por equipo en el restaurante
                        </button>
                    </div>

                    <div id="detailsCG" class="panel-body">
                        @Html.Action("DetailsCG", new { })
                    </div>

                    <div id="detailsCP" class="panel-body" style="display: none">
                        @Html.Action("DetailsCP", new { })
                    </div>

                    <div id="detailsCME" class="panel-body" style="display: none">
                        @Html.Action("DetailsCME", new { })
                    </div>

                    <div id="detailsCMEs" class="panel-body" style="display: none">
                        @Html.Action("DetailsCMEs", new { })
                    </div>

                    <div id="detailsCER" class="panel-body" style="display: none">
                        @Html.Action("DetailsCER", new { })
                    </div>

                    <script>

                        $(document).ready(function () {
                            document.getElementByID('btnCG').classList.add('active');
                        });

                        function mostrarCG() {
                            document.getElementById('detailsCG').style.display = 'block';
                            document.getElementById('detailsCP').style.display = 'none';
                            document.getElementById('detailsCME').style.display = 'none';
                            document.getElementById('detailsCMEs').style.display = 'none';
                            document.getElementById('detailsCER').style.display = 'none';

                            document.getElementByID('btnCG').classList.add('active');
                            document.getElementByID('btnCP').classList.remove('active');
                            document.getElementByID('btnCME').classList.remove('active');
                            document.getElementByID('btnCMEs').classList.remove('active');
                            document.getElementByID('btnCRE').classList.remove('active');

                            asignarMaterialDesign();
                        }

                        function mostrarCP() {
                            document.getElementById('detailsCG').style.display = 'none';
                            document.getElementById('detailsCP').style.display = 'block';
                            document.getElementById('detailsCME').style.display = 'none';
                            document.getElementById('detailsCMEs').style.display = 'none';
                            document.getElementById('detailsCER').style.display = 'none';

                            document.getElementByID('btnCG').classList.remove('active');
                            document.getElementByID('btnCP').classList.add('active');
                            document.getElementByID('btnCME').classList.remove('active');
                            document.getElementByID('btnCMEs').classList.remove('active');
                            document.getElementByID('btnCRE').classList.remove('active');

                            asignarMaterialDesign();
                        }

                        function mostrarCME() {
                            document.getElementById('detailsCG').style.display = 'none';
                            document.getElementById('detailsCP').style.display = 'none';
                            document.getElementById('detailsCME').style.display = 'block';
                            document.getElementById('detailsCMEs').style.display = 'none';
                            document.getElementById('detailsCER').style.display = 'none';

                            document.getElementByID('btnCG').classList.remove('active');
                            document.getElementByID('btnCP').classList.remove('active');
                            document.getElementByID('btnCME').classList.add('active');
                            document.getElementByID('btnCMEs').classList.remove('active');
                            document.getElementByID('btnCRE').classList.remove('active');

                            asignarMaterialDesign();
                        }

                        function mostrarCMEs() {
                            document.getElementById('detailsCG').style.display = 'none';
                            document.getElementById('detailsCP').style.display = 'none';
                            document.getElementById('detailsCME').style.display = 'none';
                            document.getElementById('detailsCMEs').style.display = 'block';
                            document.getElementById('detailsCER').style.display = 'none';

                            document.getElementByID('btnCG').classList.remove('active');
                            document.getElementByID('btnCP').classList.remove('active');
                            document.getElementByID('btnCME').classList.remove('active');
                            document.getElementByID('btnCMEs').classList.add('active');
                            document.getElementByID('btnCRE').classList.remove('active');

                            asignarMaterialDesign();
                        }

                        function mostrarCER() {
                            document.getElementById('detailsCG').style.display = 'none';
                            document.getElementById('detailsCP').style.display = 'none';
                            document.getElementById('detailsCME').style.display = 'none';
                            document.getElementById('detailsCMEs').style.display = 'none';
                            document.getElementById('detailsCER').style.display = 'block';

                            document.getElementByID('btnCG').classList.remove('active');
                            document.getElementByID('btnCP').classList.remove('active');
                            document.getElementByID('btnCME').classList.remove('active');
                            document.getElementByID('btnCMEs').classList.remove('active');
                            document.getElementByID('btnCRE').classList.add('active');

                            asignarMaterialDesign();
                        }

                        function asignarMaterialDesign() {
                            $(function () {
                                $('.mat-input-outer label').click(function () {
                                    $(this).prev('input').focus();
                                });
                                $('.mat-input-outer input').focusin(function () {
                                    $(this).next('label').addClass('active');
                                });
                                $('.mat-input-outer input').focusout(function () {
                                    if (!$(this).val()) {
                                        $(this).next('label').removeClass('active');
                                    } else {
                                        $(this).next('label').addClass('active');
                                    }
                                });
                            });

                            $(function () {
                                $('.focus :input').focus();
                            });
                        }

                    </script>




                    <script>

                        function filtrar() {

                            var UrlR = '@Url.Action("GetCiudadesXRegion", "Generic")';

                                $("#CiudadId").empty();
                                $("#CiudadId").append('<option value="0">[Seleccionar...]</option>');
                                $.ajax({
                                    type: 'POST',
                                    url: UrlR,
                                    dataType: 'json',
                                    data: { regionId: $("#RegionId").val() },
                                    success: function (data) {
                                        $.each(data, function (i, data) {
                                            $("#CiudadId").append('<option value="'
                                                + data.CiudadId + '">'
                                                + data.Nombre + '</option>');
                                        });
                                    },
                                    error: function (ex) {
                                        alert('Falló al obtener las Ciudades.' + ex);
                                    }
                                });
                                return false;

                        }

                        $(document).ready(function () {
                            $('.input-group input[required], .input-group textarea[required], .input-group select[required]').on('keyup change', function () {
                                var $form = $(this).closest('form'),
                                    $group = $(this).closest('.input-group'),
                                    $addon = $group.find('.input-group-addon'),
                                    $icon = $addon.find('span'),
                                    state = false;

                                if (!$group.data('validate')) {
                                    state = $(this).val() ? true : false;
                                } else if ($group.data('validate') == "length") {
                                    state = $(this).val().length >= $group.data('length') ? true : false;
                                }

                                if (state) {
                                    $addon.removeClass('danger');
                                    $addon.addClass('success');
                                    $icon.attr('class', 'glyphicon glyphicon-ok');
                                } else {
                                    $addon.removeClass('success');
                                    $addon.addClass('danger');
                                    $icon.attr('class', 'glyphicon glyphicon-remove');
                                }

                                if ($form.find('.input-group-addon.danger').length == 0) {
                                    $form.find('[type="submit"]').prop('disabled', false);
                                } else {
                                    $form.find('[type="submit"]').prop('disabled', true);
                                }
                            });

                            $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');

                        });

                        //function mostrarCG() {
                        //    document.getElementById('detailsCG').style.display = 'block';
                        //    document.getElementById('detailsCP').style.display = 'none';
                        //    document.getElementById('detailsCME').style.display = 'none';
                        //    document.getElementById('detailsCMEs').style.display = 'none';
                        //    document.getElementById('detailsCER').style.display = 'none';

                        //    document.getElementByID('btnCG').classList.add('active');
                        //    document.getElementByID('btnCP').classList.remove('active');
                        //    document.getElementByID('btnCME').classList.remove('active');
                        //    document.getElementByID('btnCMEs').classList.remove('active');
                        //    document.getElementByID('btnCRE').classList.remove('active');

                        //    asignarMaterialDesign();
                        //}

                        //function mostrarCP() {
                        //    document.getElementById('detailsCG').style.display = 'none';
                        //    document.getElementById('detailsCP').style.display = 'block';
                        //    document.getElementById('detailsCME').style.display = 'none';
                        //    document.getElementById('detailsCMEs').style.display = 'none';
                        //    document.getElementById('detailsCER').style.display = 'none';

                        //    document.getElementByID('btnCG').classList.remove('active');
                        //    document.getElementByID('btnCP').classList.add('active');
                        //    document.getElementByID('btnCME').classList.remove('active');
                        //    document.getElementByID('btnCMEs').classList.remove('active');
                        //    document.getElementByID('btnCRE').classList.remove('active');

                        //    asignarMaterialDesign();
                        //}

                        //function mostrarCME() {
                        //    document.getElementById('detailsCG').style.display = 'none';
                        //    document.getElementById('detailsCP').style.display = 'none';
                        //    document.getElementById('detailsCME').style.display = 'block';
                        //    document.getElementById('detailsCMEs').style.display = 'none';
                        //    document.getElementById('detailsCER').style.display = 'none';

                        //    document.getElementByID('btnCG').classList.remove('active');
                        //    document.getElementByID('btnCP').classList.remove('active');
                        //    document.getElementByID('btnCME').classList.add('active');
                        //    document.getElementByID('btnCMEs').classList.remove('active');
                        //    document.getElementByID('btnCRE').classList.remove('active');

                        //    asignarMaterialDesign();
                        //}

                        //function mostrarCMEs() {
                        //    document.getElementById('detailsCG').style.display = 'none';
                        //    document.getElementById('detailsCP').style.display = 'none';
                        //    document.getElementById('detailsCME').style.display = 'none';
                        //    document.getElementById('detailsCMEs').style.display = 'block';
                        //    document.getElementById('detailsCER').style.display = 'none';

                        //    document.getElementByID('btnCG').classList.remove('active');
                        //    document.getElementByID('btnCP').classList.remove('active');
                        //    document.getElementByID('btnCME').classList.remove('active');
                        //    document.getElementByID('btnCMEs').classList.add('active');
                        //    document.getElementByID('btnCRE').classList.remove('active');

                        //    asignarMaterialDesign();
                        //}

                        //function mostrarCER() {
                        //    document.getElementById('detailsCG').style.display = 'none';
                        //    document.getElementById('detailsCP').style.display = 'none';
                        //    document.getElementById('detailsCME').style.display = 'none';
                        //    document.getElementById('detailsCMEs').style.display = 'none';
                        //    document.getElementById('detailsCER').style.display = 'block';

                        //    document.getElementByID('btnCG').classList.remove('active');
                        //    document.getElementByID('btnCP').classList.remove('active');
                        //    document.getElementByID('btnCME').classList.remove('active');
                        //    document.getElementByID('btnCMEs').classList.remove('active');
                        //    document.getElementByID('btnCRE').classList.add('active');

                        //    asignarMaterialDesign();
                        //}

                        //function asignarMaterialDesign() {
                        //    $(function () {
                        //        $('.mat-input-outer label').click(function () {
                        //            $(this).prev('input').focus();
                        //        });
                        //        $('.mat-input-outer input').focusin(function () {
                        //            $(this).next('label').addClass('active');
                        //        });
                        //        $('.mat-input-outer input').focusout(function () {
                        //            if (!$(this).val()) {
                        //                $(this).next('label').removeClass('active');
                        //            } else {
                        //                $(this).next('label').addClass('active');
                        //            }
                        //        });
                        //    });

                        //    $(function () {
                        //        $('.focus :input').focus();
                        //    });
                        //}

                    </script>

                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}