@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}

<hr style="border: solid 2px #FFDC5A" />
<div class="row" style="margin-top: -20px">
    <div class="mat-input col-sm-3 focus">
        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
            @Html.TextBoxFor(model => model.TipoTienda.Tipo, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
            <label class="active">Tipo</label>
            <div class="border"></div>
        </div>
    </div>

    <div class="mat-input col-sm-3 focus">
        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
            @Html.TextBoxFor(model => model.NivelPrecio.Descripcion, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
            <label class="active">Nivel Precio</label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        @*<div class="mat-input-outer col-sm-12 focus" style="margin: 29px 0 0 0 !important;">
                @Html.CheckBoxFor(model => model.MenuDigital, new { htmlAttributes = new { }, @type = "checkbox", @disabled = "disabled", @style = "text-transform:uppercase" })
                <label class="active" style="margin-top: 0">@Html.DisplayNameFor(m => m.MenuDigital)</label>
                <div class="border"></div>
            </div>*@
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MenuDigital)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MenuDigital" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="mat-input col-sm-3 focus">
        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
            @Html.TextBoxFor(model => model.CantidadDePantallas, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
            <label class="active">Cant. Pantallas</label>
            <div class="border"></div>
        </div>
    </div>

</div>