@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}

<hr style="border: solid 2px #BB93D0" />
<div class="row" style="margin-top: -20px">
    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MenuBackLigth)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MenuBackLigth" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.Autoexpress)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.Autoexpress" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.CopeteAERemodelado)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.CopeteAERemodelado" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.CopeteAETradicional)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.CopeteAETradicional" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.PanelDeInnovacion)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.PanelDeInnovacion" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.DisplayDeBurbuja)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.DisplayDeBurbuja" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.Delivery)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.Delivery" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MERCADO_DE_PRUEBA)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MERCADO_DE_PRUEBA" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-3 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.AreaDeJuegos)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.AreaDeJuegos" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>