@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}

<hr style="border: solid 2px #9CD78D" />
<div class="row" style="margin-top: -20px">

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.WCMedidaEspecial60_8x85cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.WCMedidaEspecial60_8x85cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MedidaEspecialPanelDeComplementos)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MedidaEspecialPanelDeComplementos" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

    <div class="col-sm-4 focus">
        <div class="col-sm-12 focus">
            <label for="danger" class="btndangerCheck">
                @Html.DisplayNameFor(m => m.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm)
                <input type="checkbox" id="danger" class="badgebox" checked="@Model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm" disabled="disabled">
                <span class="badge">&check;</span>
            </label>
            <div class="border"></div>
        </div>
    </div>

</div>
