@model CampaniasLito.Models.Tienda

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}

<div class="panel mt-3" style="font-size: 10px !important">
    <div class="panel-heading">
        <table class="headingModal">
            <tr style="background-color: #DF2530 !important">
                <td class="col-xs-6">
                    <h2 class="responsivoUsuarioLabelFa" style="color: #fff">@ViewBag.Title</h2>
                </td>
                <td class=" col-xs-12"></td>
                <td align="right" class="col-xs-1">
                    <div class="input-group">
                        <button type="button" class="botonF2 btn-danger" data-dismiss="modal" onclick="viewPageSwal()">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                </td>
                <td align="center" class="col-xs-1">
                </td>
            </tr>
        </table>
    </div>

    <script src="~/Content/js/site.js"></script>

    <div class="panel-body">
        <div class="form-horizontal row responsivoUsuarioLabel" style="margin-top: -18px">
            <div class="col-xs-12">

                <div class="row marginRowDetalle">
                    <div class="mat-input col-sm-2 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.Clasificacion, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">Clasific</label>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="mat-input col-sm-2 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.CCoFranquicia, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">CC</label>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="mat-input col-sm-8 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.Restaurante, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">Restaurante</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
                <div class="row marginRowDetalle">
                    <div class="mat-input col-sm-6 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.Region.Nombre, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">Región</label>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="mat-input col-sm-6 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.Ciudad.Nombre, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">Ciudad</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>

                <div class="row marginRowDetalle">
                    <div class="mat-input col-sm-12 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.Direccion, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">Dirección</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: -10px">
                    <div class="mat-input col-sm-12 focus">
                        <div class="mat-input-outer col-sm-12 focus" style="margin: 0 !important;">
                            @Html.TextBoxFor(model => model.Observaciones, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                            <label class="active">Observaciones</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" align="left" style="font-size: 10px;">
                    <button id="btnCG" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCG();">
                        Caracterísitcas generales
                    </button>
                    <button id="btnCP" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCP();">
                        Configuración por producto
                    </button>
                    <button id="btnCME" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCME();">
                        Configuración por materiales específicos
                    </button>
                    <button id="btnCMEs" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCMEs();">
                        Configuración por medidas especiales
                    </button>
                    <button id="btnCRE" class="col-xs-2 btn-primary" style="height: 60px; border-radius: 10px" onclick="mostrarCER();">
                        Configuración por equipo en el restaurante
                    </button>
                </div>

                <div id="detailsCG" class="panel-body">
                    @Html.Action("DetailsCG", new { })
                </div>

                <div id="detailsCP" class="panel-body" style="display: none">
                    @Html.Action("DetailsCP", new { })
                </div>

                <div id="detailsCME" class="panel-body" style="display: none">
                    @Html.Action("DetailsCME", new { })
                </div>

                <div id="detailsCMEs" class="panel-body" style="display: none">
                    @Html.Action("DetailsCMEs", new { })
                </div>

                <div id="detailsCER" class="panel-body" style="display: none">
                    @Html.Action("DetailsCER", new { })
                </div>

                <script>

                    $(document).ready(function () {
                        document.getElementByID('btnCG').classList.add('active');
                    });

                    function mostrarCG() {
                        document.getElementById('detailsCG').style.display = 'block';
                        document.getElementById('detailsCP').style.display = 'none';
                        document.getElementById('detailsCME').style.display = 'none';
                        document.getElementById('detailsCMEs').style.display = 'none';
                        document.getElementById('detailsCER').style.display = 'none';

                        document.getElementByID('btnCG').classList.add('active');
                        document.getElementByID('btnCP').classList.remove('active');
                        document.getElementByID('btnCME').classList.remove('active');
                        document.getElementByID('btnCMEs').classList.remove('active');
                        document.getElementByID('btnCRE').classList.remove('active');

                        asignarMaterialDesign();
                    }

                    function mostrarCP() {
                        document.getElementById('detailsCG').style.display = 'none';
                        document.getElementById('detailsCP').style.display = 'block';
                        document.getElementById('detailsCME').style.display = 'none';
                        document.getElementById('detailsCMEs').style.display = 'none';
                        document.getElementById('detailsCER').style.display = 'none';

                        document.getElementByID('btnCG').classList.remove('active');
                        document.getElementByID('btnCP').classList.add('active');
                        document.getElementByID('btnCME').classList.remove('active');
                        document.getElementByID('btnCMEs').classList.remove('active');
                        document.getElementByID('btnCRE').classList.remove('active');

                        asignarMaterialDesign();
                    }

                    function mostrarCME() {
                        document.getElementById('detailsCG').style.display = 'none';
                        document.getElementById('detailsCP').style.display = 'none';
                        document.getElementById('detailsCME').style.display = 'block';
                        document.getElementById('detailsCMEs').style.display = 'none';
                        document.getElementById('detailsCER').style.display = 'none';

                        document.getElementByID('btnCG').classList.remove('active');
                        document.getElementByID('btnCP').classList.remove('active');
                        document.getElementByID('btnCME').classList.add('active');
                        document.getElementByID('btnCMEs').classList.remove('active');
                        document.getElementByID('btnCRE').classList.remove('active');

                        asignarMaterialDesign();
                    }

                    function mostrarCMEs() {
                        document.getElementById('detailsCG').style.display = 'none';
                        document.getElementById('detailsCP').style.display = 'none';
                        document.getElementById('detailsCME').style.display = 'none';
                        document.getElementById('detailsCMEs').style.display = 'block';
                        document.getElementById('detailsCER').style.display = 'none';

                        document.getElementByID('btnCG').classList.remove('active');
                        document.getElementByID('btnCP').classList.remove('active');
                        document.getElementByID('btnCME').classList.remove('active');
                        document.getElementByID('btnCMEs').classList.add('active');
                        document.getElementByID('btnCRE').classList.remove('active');

                        asignarMaterialDesign();
                    }

                    function mostrarCER() {
                        document.getElementById('detailsCG').style.display = 'none';
                        document.getElementById('detailsCP').style.display = 'none';
                        document.getElementById('detailsCME').style.display = 'none';
                        document.getElementById('detailsCMEs').style.display = 'none';
                        document.getElementById('detailsCER').style.display = 'block';

                        document.getElementByID('btnCG').classList.remove('active');
                        document.getElementByID('btnCP').classList.remove('active');
                        document.getElementByID('btnCME').classList.remove('active');
                        document.getElementByID('btnCMEs').classList.remove('active');
                        document.getElementByID('btnCRE').classList.add('active');

                        asignarMaterialDesign();
                    }

                    function asignarMaterialDesign() {
                        $(function () {
                            $('.mat-input-outer label').click(function () {
                                $(this).prev('input').focus();
                            });
                            $('.mat-input-outer input').focusin(function () {
                                $(this).next('label').addClass('active');
                            });
                            $('.mat-input-outer input').focusout(function () {
                                if (!$(this).val()) {
                                    $(this).next('label').removeClass('active');
                                } else {
                                    $(this).next('label').addClass('active');
                                }
                            });
                        });

                        $(function () {
                            $('.focus :input').focus();
                        });
                    }

                </script>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}