@model IEnumerable<CampaniasLito.Models.Tienda>

@{
    ViewBag.Title = "Franquicias";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="panel">
        <div class="panel-heading table-responsive" id="panelH">

            <a href="@Url.Action("Create", "Restaurantes", new { id = 2 })" class="botonF1 dialog-window-large" onclick="viewPageSwal()">
                <i class="fas fa-plus-circle"></i>
            </a>

        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" style="width:100%" id="dataTable" cellspacing="0">
                    <thead style="font-size:17px; font-weight:bold; background-color:#DF2530; color: #fff; text-transform: uppercase">
                        <tr>
                            <th align="center" style="width: 10%">
                                C.C.
                            </th>
                            <th align="center" style="width: 35%">
                                @Html.DisplayNameFor(model => model.Restaurante)
                            </th>
                            <th align="center" style="width: 25%">
                                @*<a id="botones" href="@Url.Action("ConfiguracionesIndex", "Restaurantes", new { })"
                                       class="btn btn-primary"
                                       style="background-color: transparent; border:none; font-size: 17px"
                                       data-toggle="myToolTip" data-placement="bottom" title="AGREGAR CONFIGURACIONES" onclick="viewPage()">
                                        CONFIGURACIONES
                                        <i class="fas fa-plus-circle"></i>
                                    </a>*@
                                CONFIGURACIONES
                            </th>
                            <th align="center" style="width: 10%">
                                Detalle
                            </th>
                            <th align="center" style="width: 10%">
                                Materiales
                            </th>
                            <th align="center" style="width: 10%">
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="unId70" class="table-responsive">
                <table class="table table-striped table-bordered table-hover" style="width:100%; margin-bottom: -40px" id="dataTable" cellspacing="0">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="font-size:12px; text-transform: capitalize">
                                <td style="width: 10%">
                                    <a href="@Url.Action("Edit", "Restaurantes", new { id = item.TiendaId})" class="dialog-window-large" style="text-decoration: none; list-style: none; color: #000" onclick="viewPageSwal()">
                                        @Html.DisplayFor(modelItem => item.CCoFranquicia)
                                    </a>
                                </td>
                                <td style="width: 35%">
                                    <a href="@Url.Action("Edit", "Restaurantes", new { id = item.TiendaId})" class="dialog-window-large" style="text-decoration: none; list-style: none; color: #000" onclick="viewPageSwal()">
                                        @Html.DisplayFor(modelItem => item.Restaurante)
                                    </a>
                                </td>
                                <td style="width: 25%" align="center">
                                    <a href="@Url.Action("ConfiguracionesGenerales", "Restaurantes", new { id = item.TiendaId})"
                                       class="btn btn-primary dialog-window-medium"
                                       style="font-size: 12px"
                                       data-toggle="myToolTip" data-placement="bottom" title="CARACTERISTICAS GENERALES" onclick="viewPageSwal()">
                                        CG
                                    </a>
                                    <a href="@Url.Action("ConfiguracionesProducto", "Restaurantes", new { id = item.TiendaId})"
                                       class="btn btn-primary dialog-window-medium"
                                       style="font-size: 12px"
                                       data-toggle="myToolTip" data-placement="bottom" title="POR PRODUCTO" onclick="viewPageSwal()">
                                        CP
                                    </a>
                                    <a href="@Url.Action("ConfiguracionesCME", "Restaurantes", new { id = item.TiendaId})"
                                       class="btn btn-primary dialog-window-medium"
                                       style="font-size: 12px"
                                       data-toggle="myToolTip" data-placement="bottom" title="por materiales específicos" onclick="viewPageSwal()">
                                        CME
                                    </a>
                                    <a href="@Url.Action("ConfiguracionesCMES", "Restaurantes", new { id = item.TiendaId})"
                                       class="btn btn-primary dialog-window-medium"
                                       style="font-size: 12px"
                                       data-toggle="myToolTip" data-placement="bottom" title="por medidas especiales" onclick="viewPageSwal()">
                                        CMES
                                    </a>
                                    <a href="@Url.Action("ConfiguracionesCER", "Restaurantes", new { id = item.TiendaId})"
                                       class="btn btn-primary dialog-window-medium"
                                       style="font-size: 12px"
                                       data-toggle="myToolTip" data-placement="bottom" title="por equipo en el restaurante" onclick="viewPageSwal()">
                                        CER
                                    </a>
                                </td>
                                <td style="width: 10%" align="center">
                                    <a id="botones" href="@Url.Action("Details", "Restaurantes", new { id = item.TiendaId})" class="btn btn-danger dialog-window-large" style="background-color: transparent; border:none; font-size: 20px" onclick="viewPageSwal()">
                                        <i class="fas fa-list-alt"></i>
                                    </a>
                                </td>
                                <td style="width: 10%" align="center">
                                    <a id="botones" href="@Url.Action("AsignarArticulos", "Restaurantes", new { id = item.TiendaId})" class="btn btn-danger dialog-window-medium" style="background-color: transparent; border:none; font-size: 20px" onclick="viewPageSwal()">
                                        <i class="fas fa-plus-circle"></i>
                                    </a>
                                </td>
                                <td style="width: 10%" align="center">
                                    <a id="botones" href="@Url.Action("Delete", "Restaurantes", new { id = item.TiendaId})" class="btn btn-danger dialog-window-large" style="background-color: transparent; border:none; font-size: 20px" onclick="viewPageSwal()">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/sweetalert.min.js" type="text/javascript"></script>

    <script>

        $("#EditarArticuloTienda").click(function () {
            var data = $("#SubmitForm").serialize();
            $.ajax({
                type: "Post",
                url: "/Tiendas/Editar",
                data: data,
                success: function (result) {
                    //alert("Success!..");
                    //window.location.href = "/Home/index";
                    //$("#MyModal").modal("hide");

                }
            })
        })

    </script>

    <script>
        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        }
    </script>
}