@model IEnumerable<CampaniasLito.Models.Tienda>

@{
    ViewBag.Title = "Equity";
    Layout = null;

    var menu = string.Empty;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/vendor/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/Restaurantes.css" rel="stylesheet" />

</head>

<body>
    <div class="panel">
        <div class="panel-heading table-responsive" id="panelH">

            <a href="@Url.Action("Create", "Restaurantes", new { id = 1 })" class="botonF1 dialog-window-large" onclick="viewPageSwal()">
                <i class="fas fa-plus-circle"></i>
            </a>

        </div>

        <div style="height: 71.5vh !important; max-height: 98vh !important;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table id="miTabla" class="table-striped row-border compact" width="100%">
                <thead>
                    <tr>
                        <th style="background-color: #000 !important; text-align: center !important">
                            RESTAURANTE
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            CC
                        </th>
                        <th>
                            EDITAR
                        </th>
                        <th>
                            ELIMINAR
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            CLASIFICACIóN
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            REGIóN
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            CIUDAD
                        </th>
                        <th style="background-color: #000 !important; width: 400px !important">
                            DIRECCIóN
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            TIPO
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            NUEVO NIVEL DE PRECIO
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            MENÚ DIGITAL
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            CANTIDAD DE PANTALLAS
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            3RA RECETA
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            ARROZ
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            HAMBURGUESAS
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            ENSALADA
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            PET DE 2 LITROS
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            POSTRES
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            BISQUET MIEL
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            MENÚ BACKLIGHT
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            AUTOEXPRESS
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            COPETE AE REMODELADO
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            COPETE AE TRADICIONAL
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            PANEL DE INNNOVACIÓN
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            DISPLAY DE BURBUJA
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            DELIVERY
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            MERCADO DE PRUEBA
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            ÁREA DE JUEGOS
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL  60.8 x 85 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL MALL ORIENTE 100x120 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL ZUAZUA 87x120 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL CORREO MAYOR 60x90 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL ZARAGOZA 90x100 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIA ESPECIAL PANEL DE COMPLEMENTOS
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL PRE MENU AE SAN_ANTONIO 49x67.5 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE TECAMAC 48x67.5 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE VILLA GARCIA 45x65 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE XOLA 49.9x66.9 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE ZUAZUA 51x71 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE VALLE SOLEADO 51x71 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE MIRASIERRA 46x68 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE CELAYA 50x68.5 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE CANDILES 49.5x73.5 cm
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            TIPO DE CAJA
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            ACOMODO DE CAJA
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            # MESA ÁREAS DE COMEDOR
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            # MESA ÁREAS DE JUEGO
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            NUMERO DE VENTANAS
                        </th>
                        <th>
                            MATERIALES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in Model.Where(x => x.EquityFranquicia == "EQUITY"))
                    {
                    <tr>
                        <td>
                            @item2.Restaurante
                        </td>
                        <td align="center">
                            @item2.CCoFranquicia
                        </td>
                        <td align="center">
                            <a href="@Url.Action("Edit", "Restaurantes", new { id = item2.TiendaId})" class="btn-dark dialog-window-large" style="background-color: transparent; border:none;" onclick="viewPageSwal()">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>
                        <td align="center">
                            <a href="@Url.Action("Delete", "Restaurantes", new { id = item2.TiendaId})" class="btn-dark dialog-window-large" style="background-color: transparent; border:none;" onclick="viewPageSwal()">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td align="center">
                            @item2.Clasificacion
                        </td>
                        <td align="center">
                            @item2.Region.Nombre
                        </td>
                        <td align="center">
                            @item2.Ciudad.Nombre
                        </td>
                        <td>
                            @item2.Direccion
                        </td>
                        <td align="center">
                            @item2.TipoTienda.Tipo
                        </td>
                        <td align="center">
                            @item2.NivelPrecio.Descripcion
                        </td>

                        @if (@item2.MenuDigital == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        <td align="center">
                            @item2.CantidadDePantallas
                        </td>
                        @if (@item2.TerceraReceta == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.Arroz == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.Hamburgesas == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.Ensalada == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.PET2Litros == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.Postres == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.BisquetMiel == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MenuBackLigth == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.Autoexpress == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.CopeteAERemodelado == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.CopeteAETradicional == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.PanelDeInnovacion == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.DisplayDeBurbuja == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.Delivery == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MERCADO_DE_PRUEBA == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.AreaDeJuegos == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.WCMedidaEspecial60_8x85cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MedidaEspecialPanelDeComplementos == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        @if (@item2.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm == true)
                        {
                            menu = "SI";
                        }
                        else
                        {
                            menu = "NO";
                        }

                        <td align="center">
                            @menu
                        </td>
                        <td align="center">
                            @item2.TipoDeCaja.Descripcion
                        </td>
                        <td align="center">
                            @item2.AcomodoDeCajas
                        </td>
                        <td align="center">
                            @item2.NoMesaDeAreaComedor
                        </td>
                        <td align="center">
                            @item2.NoMesaDeAreaDeJuegos
                        </td>
                        <td align="center">
                            @item2.NumeroDeVentanas
                        </td>
                        <td align="center">
                            <a id="botones" href="@Url.Action("AsignarArticulos", "Restaurantes", new { id = item2.TiendaId})" class="btn-dark dialog-window-medium" style="background-color: transparent; border:none;" onclick="viewPageSwal()">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th style="background-color: #000 !important">
                        </th>
                        <th style="background-color: #000 !important;">
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            CLASIFICACIÓN
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            REGIóN
                        </th>
                        <th style="background-color: #000 !important; text-align: center !important">
                            CIUDAD
                        </th>
                        <th style="background-color: #000 !important; width: 400px !important">
                            DIRECCIóN
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            TIPO
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            NUEVO NIVEL DE PRECIO
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            MENÚ DIGITAL
                        </th>
                        <th style="background-color: #FFDC5A !important; color: #000 !important">
                            CANTIDAD DE PANTALLAS
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            3RA RECETA
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            ARROZ
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            HAMBURGUESAS
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            ENSALADA
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            PET DE 2 LITROS
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            POSTRES
                        </th>
                        <th style="background-color: #00B0F0 !important; color: #000 !important">
                            BISQUET MIEL
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            MENÚ BACKLIGHT
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            AUTOEXPRESS
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            COPETE AE REMODELADO
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            COPETE AE TRADICIONAL
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            PANEL DE INNNOVACIÓN
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            DISPLAY DE BURBUJA
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            DELIVERY
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            MERCADO DE PRUEBA
                        </th>
                        <th style="background-color: #BB93D0 !important; color: #000 !important">
                            ÁREA DE JUEGOS
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL  60.8 x 85 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL MALL ORIENTE 100x120 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL ZUAZUA 87x120 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL CORREO MAYOR 60x90 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            WC MEDIDA ESPECIAL ZARAGOZA 90x100 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIA ESPECIAL PNEL DE COMPLEMENTOS
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL PRE MENU AE SAN_ANTONIO 49x67.5 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE TECAMAC 48x67.5 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE VILLA GARCIA 45x65 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE XOLA 49.9x66.9 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE ZUAZUA 51x71 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE VALLE SOLEADO 51x71 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE MIRASIERRA 46x68 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE CELAYA 50x68.5 cm
                        </th>
                        <th style="background-color: #9CD78D !important; color: #000 !important">
                            MEDIDA ESPECIAL AE CANDILES 49.5x73.5 cm
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            TIPO DE CAJA
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            ACOMODO DE CAJA
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            # MESA ÁREAS DE COMEDOR
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            # MESA ÁREAS DE JUEGO
                        </th>
                        <th style="background-color: #AAE6FF !important; color: #000 !important">
                            NUMERO DE VENTANAS
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

    <script src="~/Scripts/jquery-3.5.0.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#miTabla').DataTable({
                "order": [[1, "asc"]],
                "pagingType": "full_numbers",
                //"ajax": {
                //    "url": "/Restaurantes/RestaurantesEquity",
                //    "type": "POST",
                //    "datatype": "json",
                //},
                //"columns": [
                //    { "data": "Restaurante", "name": "Restaurante" },
                //    { "data": "Clasificacion", "name": "Clasificación" },
                //    { "data": "CCoFranquicia", "name": "CC" },
                //    { "data": "Region.Nombre", "name": "Región" },
                //    { "data": "Ciudad.Nombre", "name": "Ciudad" },
                //    { "data": "Direccion", "name": "Dirección" },
                //],
                //"serverSide": "true",
                //"order": [0, "asc"],
                //"processing": "true",
                language: {
                    "sProcessing": "Procesando...espere por favor",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                    "sInfo": "_END_ registros",
                    "sInfoEmpty": "Registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "de un total de _MAX_",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<<",
                        "sLast": ">>",
                        "sNext": ">",
                        "sPrevious": "<"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Mostrar/Ocultar Columnas"
                    },
                    select: {
                        rows: {
                            _: "%d registros seleccionados",
                            0: "",
                            1: "1 registro seleccionado"
                        }
                    },
                },
                //"initComplete": function () {
                //    var api = this.api();
                //    api.$('td').click(function () {
                //        api.search(this.innerHTML).draw();
                //    });
                //},

                initComplete: function () {
                    this.api().columns([4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
                    24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">=TODOS=</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                dom: 'lfBrtip',
                autoWidth: false,
                //responsive: true,
                buttons: [
                    'colvis'
                ],
                "columnDefs": [
                    { "orderable": false, "targets": [2, 3, 48] }
                ],
                //columnDefs: [
                //    { width: 400, targets: 5 }],
                fixedColumns: true,
                fixedColumns: {
                    leftColumns: 2,
                },
                //fixedHeader: true,
                select: true,
                scrollY: [
                    innerHeight = '54vh',
                ],
                scrollX: true,
                //deferRender: true,
                //scroller: true,
                //autoFill: true,
                keys: true,
                'bLengthChange': true,
                'bInfo': true,
                "lengthMenu": [[-1, 15, 25, 50, 100], ["TODOS", 15, 25, 50, 100]],
            });
        });

    </script>

</body>
</html>