@model CampaniasLito.Models.TiendaEquipo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TiendaEquipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TiendaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiendaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeCajaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeCajaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcomodoDeCajas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcomodoDeCajas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoMesaDeAreaComedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoMesaDeAreaComedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoMesaDeAreaDeJuegos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoMesaDeAreaDeJuegos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeVentanas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeVentanas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TiendaEquipoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
