@model CampaniasLito.Models.Usuario

@{
    ViewBag.Title = "Eliminar Usuario";
}
    <div class="panel panel-primary">
        <div class="panel-heading" id="panelH">
            <table>
                <tr>
                    <td class="col-md-12">
                        <h2><i class="fa fa-table"></i> @ViewBag.Title</h2>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body">

            <h3>¿Eliminar este Registro?</h3>
            <div>
                <div class="row">
                    <div class="col-md-6">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nombres)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nombres)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Apellidos)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Apellidos)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NombreUsuario)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NombreUsuario)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Compañia.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Compañia.Nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Rol.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Rol.Nombre)
                            </dd>

                        </dl>
                    </div>
                    @*<div class="col-md-6">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Foto)
                            </dt>

                            <dd>
                                @if (!string.IsNullOrEmpty(Model.Foto))
                                {
                                    <img src="@Url.Content(Model.Foto)" alt="Image" style="width:150px;height:150px;" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/Fotos/usuarios.jpg")" alt="Image" style="width:150px; height:150px;" />
                                }
                            </dd>
                        </dl>
                    </div>*@
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-outline btn-primary" />
                        @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-outline btn-danger" })
                    </div>
                }
            </div>
        </div>
    </div>
