@model CampaniasLito.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compañias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compañias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelegacionMunicipio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelegacionMunicipio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
