@model IEnumerable<CampaniasLito.Models.Familia>

@{
    ViewBag.Title = "Familias";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/vendor/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/Restaurantes.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="panel">
        <div class="panel-heading table-responsive" id="panelH">

            <a href="@Url.Action("Create", "Familias", new { })" class="botonF1 dialog-window-medium" onclick="viewPageSwalIn()">
                <i class="fas fa-plus-circle"></i>
            </a>

            <table id="dataTable" cellspacing="0">
                <tr>
                    <td align="center" class=" col-xs-4">
                        <h2><i class="fas fa-boxes "></i> @ViewBag.Title</h2>
                    </td>
                </tr>
            </table>
        </div>

        <div style="height: 71.5vh !important; max-height: 98vh !important; margin: -37px 10px 0 10px;">
            <table id="miTablaFamilias" class="table-striped row-border compact" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </th>
                        <th align="center">
                            EDITAR
                        </th>
                        <th align="center">
                            ELIMINAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td align="center">
                                <a href="@Url.Action("Edit", "Familias", new { id = item.FamiliaId})" class="btn-dark dialog-window-medium" style="background-color: transparent; border:none;" onclick="viewPageSwalIn()">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td align="center">
                                <a id="botones" href="@Url.Action("Delete", "Familias", new { id = item.FamiliaId})" class="btn-dark dialog-window-medium" style="background-color: transparent; border:none;" onclick="viewPageSwalIn()">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="modal fade" data-keyboard="false" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="modal-dialog" id="smallTamanio">
            <div class="modal-content">
                <div class="te">

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("body").on("click", "a.dialog-window-medium", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#mediumModal').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#mediumModal .te').html(data);
                        $('#mediumModal').modal();
                        $('input:text:visible:first').focus();
                    });
                };
            });
        });

        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        }

        $(document).ready(function () {
            $('#miTablaFamilias').DataTable({
                "order": [[0, "asc"]],
                "pagingType": "full_numbers",
                language: {
                    "sProcessing": "Procesando...espere por favor",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                    "sInfo": "_END_ registros",
                    "sInfoEmpty": "Registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "de un total de _MAX_",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<<",
                        "sLast": ">>",
                        "sNext": ">",
                        "sPrevious": "<"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Mostrar/Ocultar Columnas"
                    },
                    select: {
                        rows: {
                            _: "%d registros seleccionados",
                            0: "",
                            1: "1 registro seleccionado"
                        }
                    },
                },
                //initComplete: function () {
                //    this.api().columns([1]).every(function () {
                //        var column = this;
                //        var select = $('<select><option value=""></option></select>')
                //            .appendTo($(column.footer()).empty())
                //            .on('change', function () {
                //                var val = $.fn.dataTable.util.escapeRegex(
                //                    $(this).val()
                //                );

                //                column
                //                    .search(val ? '^' + val + '$' : '', true, false)
                //                    .draw();
                //            });

                //        column.data().unique().sort().each(function (d, j) {
                //            select.append('<option value="' + d + '">' + d + '</option>')
                //        });
                //    });
                //},
                dom: 'lfrtip',
                autoWidth: false,
                fixedColumns: true,
                fixedColumns: {
                    leftColumns: 1,
                },
                select: true,
                scrollY: [
                    innerHeight = '65vh',
                ],
                scrollX: true,
                keys: true,
                'bLengthChange': true,
                'bInfo': true,
                "lengthMenu": [[-1, 15, 25, 50, 100], ["TODOS", 15, 25, 50, 100]],
                "columnDefs": [
                    { "orderable": false, "targets": [2, 3] },
                    { "searchable": false, "targets": [2, 3] },
                ],
            });
        });

    </script>


</body>
</html>