@model CampaniasLito.Models.Compañia

@{
    ViewBag.Title = "Detalles de Compañia";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <table>
            <tr>
                <td class="col-md-12">
                    <h2><i class="fa fa-table"></i> @ViewBag.Title</h2>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefonos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefonos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Logo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Logo)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.CompañiaId }, new { @class="btn btn-outline btn-primary"})
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-outline btn-info" })
        </p>
    </div>
</div>