@using CampaniasLito.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

<link href="~/Content/LoginCSS/bootstrap_superhero.min.css" rel="stylesheet" />
<link href="~/Content/LoginCSS/site.css" rel="stylesheet" />
<link href="~/Content/LoginCSS/styles.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">*@
<link href="~/Content/vendor/font-awesome/css/all.css" rel="stylesheet" />

<script src="~/Scripts/script.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>
<script src="~/Scripts/fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<style>

    .form-control.login-user {
        border: 0 solid #fff !important;
    }

    input, .card, .card-header, .btn, .card-footer {
        border-radius: 20px;
    }

    input, h1 {
        padding: 10px;
    }

    .input {
        background: #2B3E50;
        color: #fff;
    }

    .card {
        background: #F5F5F5;
    }

    .bg-primary, .btn-primary {
        background: #ffffff;
        color: #000;
    }

        .btn-primary:hover {
            background: #f0f0f0;
            color: #000;
        }

    @@media (max-width:414px) {
        .ocultar {
            display: none;
        }
    }
</style>

<section class="mt-5" id="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-lg-6 mx-auto">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card">
                            <div class="mx-auto" style="padding-top: 40px">
                                <img class="ocultar" src="~/Content/Logos/Logo_LIto_azul.png"
                                     width="200">
                            </div>
                            <br />
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="border-radius: 10px 0 0 10px">
                                                <i class="fas fa-user"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-center", style = "border-radius: 0 10px 10px 0", placeholder = "Usuario" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="border-radius: 10px 0 0 10px">
                                                <i class="fas fa-lock"></i>
                                            </div>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center", style = "border-radius: 0 10px 10px 0", placeholder = "Password" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div>
                                <input type="submit" value="Iniciar sesión" class="btn btn-primary btn-block" style="padding: 10px 0" />
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/script.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/fileupload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script>
        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        };

        //document.addEventListener("keydown", function (e) {
        //    if (e.keyCode == 13) {
        //        toggleFullScreen();
        //    }
        //}, false);

        //function toggleFullScreen() {
        //    if (!document.fullscreenElement) {
        //        document.documentElement.requestFullscreen();
        //    } else {
        //        if (document.exitFullscreen) {
        //            document.exitFullscreen();
        //        }
        //    }
        //}

    </script>

    <script>
        var el = document.getElementById("body");

        function toggleFullScreen() {
            if (!document.mozFullScreen && !document.webkitFullScreen) {
                if (el.mozRequestFullScreen) {
                    el.mozRequestFullScreen();
                } else {
                    el.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                }
            } else {
                if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else {
                    document.webkitCancelFullScreen();
                }
            }
        }

        document.addEventListener("keydown", function (e) {
            if (e.keyCode == 13) {
                toggleFullScreen();
            }
        }, false);
    </script>


}